.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-area{
  position: relative;
  top: 150px;
  color: #004085;
}
.card-header{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #004085;
  color: white;
}
.card-text{
  text-align:left;
}
.card-footer{
  text-align: left;
}
button{
  margin-left:10px;
  background: #004085 !important;
}
.card-content{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.success-button{
  background: #28a745 !important;
  border-color: #28a745;
}
.danger-button{
  background:#dc3545 !important;
  border-color: #dc3545;
}
